server {
    listen 80;
    server_name <%= node['fqdn'] %>;


    access_log /var/log/flask-errot.log;
    error_log /var/log/flask-error.log;

    location / {
        proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        if (!-f $request_filename) {
            proxy_pass http://127.0.0.1:8000;
            break;
        }
    }
}
